.dub
docs.json
__dummy.html
docs/
/subpkg3
subpkg3.so
subpkg3.dylib
subpkg3.dll
subpkg3.a
subpkg3.lib
subpkg3-test-*
case005_subpkg3.so
case005_subpkg3.dylib
case005_subpkg3.dll
case005_subpkg3.a
case005_subpkg3.lib
case005_subpkg3-test-*
*.exe
*.o
*.obj
*.lst
