Ddoc

{{# environment }}PATH{{/ environment }}
{{# command }}git describe{{/ command }}
{{# rdmd }}writeln("Hello, world!");{{/ rdmd }}
$(PROJECT_SRC_ROOT)

$(MODULE_INDEX)

Macros:
    TITLE=Documentation for $(PROJECT_NAME)
