.*
!.github
docs/
build/
*.json
*.html
*.so
*.dylib
*.dll
*.a
*.lib
gendoc-test-*
/gendoc
/candydoc/gendoc_candydoc
/testcases/*/*
!/testcases/*/dub.json
!/testcases/*/source
!/testcases/*/.no_*
!/testcases/*/.*_opts
*.exe
*.o
*.obj
*.lst
.dub
